$app-background: #cdd1e9;

// nav menu colors
$nav-background-color: #234567;
$nav-item-text-color: #eee;
$button-hover-color: #123456;
$nav-header-text-color: #eef;

// table colors
$table-background-color0: #eef;
$table-background-color1: #dde;

@import 'normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html body {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
  background-color: $app-background;
}

div.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $app-background;
  position: absolute;
  height: 100%;
  width: 100%;
  &__nav {
    height: 100%;
    width: 25vw;
    color: $nav-item-text-color;
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    &__item {
      padding: 15px 30px;
      cursor: pointer;
      margin-bottom: 1px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &__selected {
      padding: 15px 30px;
      cursor: default;
      margin-bottom: 1px;
      background-color: rgba(0, 0, 0, 0.7);
    }
    &__header {
      color: $nav-header-text-color;
      padding: 30px 15px;
      font-size: 1.3rem;
      font-weight: 800;
      margin-bottom: 10px;
      background-color: rgba(0, 0, 0, 0.9);
      cursor: default;
    }
  }
  &__content {
    overflow-y: auto;
    width: 100%;
    padding: 15px 20px;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: top;
    &__header {
      font-size: 1.9rem;
      font-weight: 800;
      margin-bottom: 10px;
      cursor: default;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      input.addMovie {
        margin: 10px auto;
        width: 60%;
      }
    }
  }
}

div.movieTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__row {
    display: flex;
    flex-direction: row;
    &__cell {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      font-size: 0.8rem;
    }
    &__bigcell {
      @extend div.movieTable__row__cell;
      flex: 2;
    }
    &:nth-child(even) {
      background-color: $table-background-color0;
    }
    &:nth-child(odd) {
      background-color: $table-background-color1;
    }
    &:first-child {
      // header
      user-select: none;
      cursor: default;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: $nav-background-color;
      color: $nav-item-text-color;
    }
    &:last-child {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
  &__empty {
    display: flex;
    padding: 10px 15px;
    font-style: italic;
    color: #777;
    flex-direction: row;
    justify-content: center;
    background-color: $table-background-color0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

div.regularButton {
  font-size: 20px;
  padding: 5px;
  max-width: 300px;
  cursor: pointer;
  background-color: #eee;
  text-align: center;
  border: 1px solid #888;
  &:hover {
    background-color: #ddd;
  }
}

div.errorMessage {
  padding: 10px 15px;
  width: 60%;
  margin: 10px 0px;
  background-color: #f99;
  color: #855;
  border: 1px solid #855;
  border-radius: 3px;
}

div.successMessage {
  @extend div.errorMessage;
  background-color: #9f9;
  color: #585;
  border: 1px solid #585;
}

input.editMovie {
  width: 100%;
}

input.searchBar {
  width: 80%;
  margin: 10px 0px;
}


button.small {
  width: 60%;
  margin: 3px auto;
  padding: 4px;
  border: 1px solid #777;
  border-radius: 2px;
  cursor: pointer;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
}

button.big {
  @extend button.small;
  width: 50%;
  padding: 15px 15px;
  background-color: #444;
  color: #eee;
  background-color: $button-hover-color;
  color: $nav-item-text-color;
  border: none;
  &:hover {
    //background-color: $nav-background-color;
    background-color: $button-hover-color;
    opacity: 0.9;
  }
}

input {
  outline: none;
  padding: 8px;
  border: 1px solid #999;

  border-radius: 3px;
  box-shadow: none;
}


button {

}
